./build/*
build/*
fast_cd_pyb.egg-info/*
**.pyd
dist/*
.vscode/*
**.DMAT
./cache/*
./results/*
results/*
**.npy
**.blend
**.blend1


**.pyc

src/fast_cody/__pycache__/*
src/fast_cody/examples/__pycache__/*

src/fast_cody/apps/__pycache__/*

results/**
**.ini

site/*
site/**