./build/*
build/*
fast_cd_pyb.egg-info/*
**.pyd
dist/*
.vscode/*
**.DMAT
./cache/*
./results/*
results/*
src/fast_cd/data/*
**.npy
**.blend
**.blend1


**.pyc

src/fast_cd/__pycache__/*
src/fast_cd/examples/__pycache__/*

src/fast_cd/apps/__pycache__/*

results/**
**.ini